@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Kufi Arabic', sans-serif;
}








.ant-table.ant-table-rtl { overflow-x: auto; }


.policies_steps .ant-steps-item-description {
  color: #6e6e6e !important;
}